* {
    margin: 0px;


}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    color: black;
}

.top-container {
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: 1;
    

}

.header {
    background-color: rgb(13, 91, 23);
    color: rgb(255, 255, 255);
    display: flex;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
}
.nms {
    margin-left: 16px;
    font-size: 24px;
   

}
button {
    color: rgb(13, 91, 23);  
    
    border: 1px;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-radius: 12px;
    padding: 8px;
}

.book-now {
    font-size: 18px;
    margin-top: 16px;
    width: 150px;
    margin-left: 16px;
    margin-bottom: 8px;

}

.header-links {
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 16px;
}

.write-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    text-align: left;
    color: rgb(255, 255, 255);
    gap: 8px;
    
    
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(13, 91, 23);
    padding-bottom: 40px;
    padding-top: 20px;
    gap: 32px;

}

.logo {
    flex-grow: 1 0 300px;
    max-width: 100%;
    max-height: auto;
    
}



.some-things-we-do {
    margin-top: 32px;
    text-align: center;
}

.image-list {
    display: flex;
    justify-content: center;
    flex: 0 0 200px;
    flex-wrap: wrap;
    margin: 16px;
    margin-top: 24px;
    gap: 16px;

}


.box, .move, .van, .home {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
width: 200px;
gap: 8px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 75px;
    padding-left: 150px;
    padding-right: 150x;

    align-items: center;
    background-color: #e5e7eb;
    color: #1f2937;
    font-style: italic;

}

.client {
    align-self: flex-end;
    font-weight: bold;
}
.attn-text {
    display: flex;
    flex-direction: column;
}

.attention {
    display: flex;
    background-color: #f2f9ac;
    justify-content: space-around;
    align-items: center;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-size: 18px;
    border-radius: 24px;
    
    margin-bottom: 48px;
    width: 600px;

}


#book-now2 {
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: rgb(247, 93, 93);
    border: 1px solid red;
    cursor: pointer;
    padding: 10px;
}

#book-now2:hover {
    background-color: rgb(247, 93, 93);
    color: white;

}


.footer {
    text-align: center;
    padding: 8px;
    background-color: rgb(13, 91, 23);
    color: white
}